@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-display: swap;
  font-family: Product Sans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProductSans-Regular-Subset.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: FuturaLT-Bold;
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/FuturaLT-Bold-Subset.woff2);
}
@font-face {
  font-display: swap;
  font-family: Inter-Bold;
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/Inter-Bold-Subset.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Inter-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Inter-SemiBold-Subset.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Inter-Medium;
  font-style: medium;
  font-weight: 500;
  src: url(../fonts/Inter-Medium-Subset.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Inter-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inter-Regular-Subset.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Inter-Light;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Inter-Light-Subset.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Roboto-Bold-Subset.woff2);
}
@font-face {
  font-display: swap;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium-Subset.woff2);
}
@font-face {
  font-display: swap;
  font-family: Opensans-Bold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Open-Sans-Bold.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Opensans-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Open-Sans-SemiBold.woff2) format("woff2");
}
@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    transition: background-color 5000s !important;
  }
  .floating-input:-webkit-autofill,
  .floating-input:-webkit-autofill:active,
  .floating-input:-webkit-autofill:focus,
  .floating-input:-webkit-autofill:hover {
    -webkit-text-fill-color: #fff !important;
  }
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .footer-icon > path {
    fill: url(#lgrad);
  }
  .gradient-border-btn:hover > a > .footer-icon > path {
    fill: #fff;
  }
  .landing-bg-clip-path {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
    clip-path: polygon(50% 0, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
  }
  .landing-bg-mobile-clip-path {
    -webkit-clip-path: polygon(
      50% 0,
      100% 0,
      150% 84%,
      30% 100%,
      -25% 84%,
      0 0
    );
    clip-path: polygon(50% 0, 100% 0, 150% 84%, 30% 100%, -25% 84%, 0 0);
  }
  .animation-paused {
    animation-play-state: paused;
  }
  .animation-running {
    animation-play-state: running;
  }
}
@layer components {
  .header-1 {
    @apply tw-font-opensans-bold tw-tracking-[-0.08rem] xl:tw-tracking-[-0.15rem]  tw-text-[2rem] tw-leading-[2.6rem] md:tw-text-[2.875rem]  md:tw-leading-[3.688rem] xl:tw-text-[3.75rem] xl:tw-leading-[4.875rem];
  }
  .header-2 {
    @apply tw-font-opensans-bold tw-tracking-[-0.08rem] xl:tw-tracking-[-0.12rem] tw-text-[1.5rem] tw-leading-[2.25rem] md:tw-text-[2.25rem]  md:tw-leading-[2.938rem] xl:tw-text-[3rem] xl:tw-leading-[3.9rem];
  }
  .header-3 {
    @apply tw-font-opensans-semibold tw-tracking-[-0.08rem] tw-text-[1.25rem] tw-leading-[1.875rem] md:tw-text-[1.625rem]  md:tw-leading-[2.313rem] xl:tw-text-[2rem] xl:tw-leading-[3rem];
  }
  .sub-h1-regular {
    @apply tw-text-[1.125rem] tw-leading-[1.688rem] md:tw-text-[1.313rem]  md:tw-leading-[1.813rem] xl:tw-text-[1.5rem] xl:tw-leading-[2.25rem] tw-font-inter-regular;
  }
  .sub-h1-semibold {
    @apply tw-text-[1.125rem] tw-leading-[1.688rem] md:tw-text-[1.313rem]  md:tw-leading-[1.813rem]  xl:tw-text-[1.5rem] xl:tw-leading-[2.25rem]  tw-font-inter-semibold;
  }
  .sub-h2-medium {
    @apply xl:tw-text-[1.375rem] xl:tw-leading-[2.063rem] tw-font-inter-medium;
  }
  .sub-h3-regular {
    @apply tw-text-base xl:tw-text-[1.25rem] xl:tw-leading-[1.875rem] tw-font-inter-regular;
  }
  .sub-h3-medium {
    @apply tw-text-base xl:tw-text-[1.25rem] xl:tw-leading-[1.875rem] tw-font-inter-medium;
  }
  .sub-h3-semibold {
    @apply tw-text-base xl:tw-text-[1.25rem] xl:tw-leading-[1.875rem] tw-font-inter-semibold;
  }
  .sub-h4-regular {
    @apply tw-font-inter-regular tw-text-[0.75rem] tw-leading-[1.125rem] xl:tw-text-[1.125rem] xl:tw-leading-[1.688rem];
  }
  .sub-h4-semibold {
    @apply tw-font-inter-semibold tw-text-[0.75rem] tw-leading-[1.125rem] xl:tw-text-[1.125rem] xl:tw-leading-[1.688rem];
  }
  .primary-btn {
    @apply tw-h-12  tw-mx-auto tw-flex tw-w-max tw-items-center tw-rounded-xl tw-py-3 tw-px-6 tw-text-center;
  }
  .gradient-border-btn {
    @apply tw-m-[5px] tw-rounded-[0.6rem] tw-border tw-border-solid tw-border-transparent tw-bg-gradient-to-r tw-from-[#ff9472] tw-via-[#ff909c] tw-to-[#f2709c] tw-p-[1rem] tw-text-center tw-shadow-[inset_2px_1000px_1px_#fff] hover:tw-border hover:tw-border-solid hover:tw-border-transparent hover:tw-from-[#f2709c] hover:tw-to-[#ff9472] hover:tw-shadow-none hover:tw-bg-gradient-[91.53deg] active:tw-scale-[0.98];
  }
  .gradient-border-btn > a > .fab {
    @apply tw-text-[#f2709c];
  }
  .gradient-border-btn:hover > .arrow,
  .gradient-border-btn:hover > .fa,
  .gradient-border-btn:hover > a > .fab,
  .gradient-border-btn:hover > span,
  .gradient-border-btn:hover > span > span {
    @apply tw-text-white;
  }
  .white-btn > span {
    @apply tw-from-[#FF835B] tw-to-[#F2709C] tw-bg-clip-text tw-text-transparent tw-bg-gradient-[270.11deg];
  }
  .gradient-btn {
    @apply tw-mb-0 tw-ml-auto tw-mr-auto tw-mt-5 tw-rounded-[0.6rem] tw-border tw-border-solid tw-border-transparent tw-from-[#ff835b] tw-to-[#f2709c] tw-p-4 tw-text-center tw-text-white tw-bg-gradient-[270.11deg] hover:tw-bg-gradient-to-r hover:tw-from-[#ff9472] hover:tw-via-[#ff909c] hover:tw-to-[#f2709c] hover:tw-shadow-[inset_2px_1000px_1px_#fff] active:tw-scale-[0.98] lg:tw-mb-0 lg:tw-ml-2 lg:tw-mr-2 lg:tw-mt-5 lg:tw-px-4 lg:tw-py-4;
  }
  .gradient-btn > span {
    @apply tw-mx-1.5 tw-my-0 tw-font-bold;
  }
  .gradient-btn:hover > a > span,
  .gradient-btn:hover > span {
    @apply tw-from-[#f2709c] tw-to-[#ff9472] tw-bg-clip-text tw-text-transparent tw-bg-gradient-[89.88deg];
  }

  .gradient-btn:hover > .fa,
  .gradient-btn:hover > .fas,
  .gradient-btn:hover > a > .fab {
    @apply tw-text-[#f2709c];
  }
  .cta-button:hover > span,
  .portfolio-nav:hover > span,
  .v2-button:hover > .fa {
    @apply tw-text-[#fff];
  }
}
