@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/ProductSans-Normal.woff2);
}

@font-face {
  font-family: "FuturaLT-Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(./../fonts/FuturaLT-Bold.woff2);
}

@font-face {
  font-family: "SFProText-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/SFProText-Regular.woff2);
}

@font-face {
  font-family: "Inter-Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(./../fonts/Inter-Bold.woff2);
}
@font-face {
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./../fonts/Inter-SemiBold.woff2);
}

@font-face {
  font-family: "Inter-Medium";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url(./../fonts/Inter-Medium.woff2);
}

@font-face {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/Inter-Regular.woff2);
}
@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./../fonts/Inter-Light.woff2);
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./../fonts/Roboto-Bold.woff2);
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./../fonts/Roboto-Medium.woff2);
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/Roboto-Regular.woff2);
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s !important;
  }

  .floating-input:-webkit-autofill,
  .floating-input:-webkit-autofill:hover,
  .floating-input:-webkit-autofill:focus,
  .floating-input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .footer-icon > path {
    fill: url("#lgrad");
  }

  .gradient-border-btn:hover > a > .footer-icon > path {
    fill: #ffffff;
  }
  .landing-bg-clip-path {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
  }

  .landing-bg-mobile-clip-path {
    -webkit-clip-path: polygon(
      50% 0%,
      100% 0,
      150% 84%,
      30% 100%,
      -25% 84%,
      0 0
    );
    clip-path: polygon(50% 0%, 100% 0, 150% 84%, 30% 100%, -25% 84%, 0 0);
  }

  .animation-paused {
    animation-play-state: paused;
  }

  .animation-running {
    animation-play-state: running;
  }
}
