@font-face {
  font-display: swap;
  font-family: Product Sans;
  font-style: normal;
  font-weight: 400;
  src: url(~/assets/fonts/ProductSans-Regular-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter-Bold;
  font-style: bold;
  font-weight: 700;
  src: url(~/assets/fonts/Inter-Bold-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(~/assets/fonts/Inter-SemiBold-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter-Medium;
  font-style: medium;
  font-weight: 500;
  src: url(~/assets/fonts/Inter-Medium-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(~/assets/fonts/Inter-Regular-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter-Light;
  font-style: normal;
  font-weight: 300;
  src: url(~/assets/fonts/Inter-Light-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Opensans-Bold;
  font-style: bold;
  font-weight: 700;
  src: url(~/assets/fonts/OpenSans-Bold-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Opensans-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(~/assets/fonts/OpenSans-SemiBold-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Source CodePro;
  font-style: normal;
  font-weight: 400;
  src: url(~/assets/fonts/Source-codePro.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Poppins Regular;
  font-style: normal;
  font-weight: 400;
  src: url(~/assets/fonts/Poppins-Regular-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Poppins Medium;
  font-style: medium;
  font-weight: 500;
  src: url(~/assets/fonts/Poppins-Medium-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Inter-ExtraLight;
  font-style: normal;
  font-weight: 200;
  src: url(~/assets/fonts/Inter-ExtraLight-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Comme-Light;
  font-style: normal;
  font-weight: 300;
  src: url(~/assets/fonts/Comme-Light-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Comme-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(~/assets/fonts/Comme-Regular-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Comme-Medium;
  font-style: normal;
  font-weight: 500;
  src: url(~/assets/fonts/Comme-Medium-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Comme-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(~/assets/fonts/Comme-SemiBold-Subset.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Helvetica-Light;
  font-style: normal;
  font-weight: 300;
  src: url(~/assets/fonts/Helvetica-Light.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Helvetica-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(~/assets/fonts/Helvetica-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Helvetica-Bold;
  font-style: normal;
  font-weight: 700;
  src: url(~/assets/fonts/Helvetica-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Charter-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(~/assets/fonts/charter-regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Charter-Regular-Italic;
  font-style: italic;
  font-weight: 400;
  src: url(~/assets/fonts/charter-regular-italic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Charter-Bold;
  font-style: normal;
  font-weight: 700;
  src: url(~/assets/fonts/charter-bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Charter-Bold-Italic;
  font-style: italic;
  font-weight: 700;
  src: url(~/assets/fonts/charter-bold-italic.woff2) format("woff2");
}
