@tailwind base;

@layer base {
  body {
    @apply select-none font-product-sans;
  }
}

@tailwind components;

@layer components {
  .hidden-scrollbar::-webkit-scrollbar,
  .parallax::-webkit-scrollbar,
  body::-webkit-scrollbar {
    @apply hidden;
  }

  a {
    @apply no-underline;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    transition: background-color 5000s !important;
  }
  .floating-input:-webkit-autofill,
  .floating-input:-webkit-autofill:active,
  .floating-input:-webkit-autofill:focus,
  .floating-input:-webkit-autofill:hover {
    -webkit-text-fill-color: #fff !important;
  }
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .footer-icon > path {
    fill: url(#lgrad);
  }
  .gradient-border-btn:hover > a > .footer-icon > path {
    fill: #fff;
  }
  .landing-bg-clip-path {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
    clip-path: polygon(50% 0, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
  }
  .landing-bg-mobile-clip-path {
    -webkit-clip-path: polygon(
      50% 0,
      100% 0,
      150% 84%,
      30% 100%,
      -25% 84%,
      0 0
    );
    clip-path: polygon(50% 0, 100% 0, 150% 84%, 30% 100%, -25% 84%, 0 0);
  }
  .animation-paused {
    animation-play-state: paused;
  }
  .animation-running {
    animation-play-state: running;
  }

  .canopas-gradient-text {
    @apply from-[#f2709c] to-[#ff9472] bg-clip-text text-transparent bg-gradient-[89.88deg];
  }

  .v2-canopas-gradient-text {
    @apply from-[#FF835B] to-[#F2709C] bg-clip-text text-transparent bg-gradient-[270.11deg];
  }

  .normal-text {
    @apply text-[1.15rem] font-normal not-italic leading-6 tracking-[0.3px] text-[#3d3d3dcc] md:text-[1.2rem] md:leading-[1.375rem] lg:text-[1.5rem] lg:leading-[1.8rem];
  }

  .normal-2-text {
    @apply text-[1.1rem] font-normal not-italic leading-[1.3rem] text-[#3d3d3dcc] lg:text-[1.1875rem] lg:leading-[1.4rem];
  }

  .header-text {
    @apply text-[1.5rem] font-bold leading-[1.813rem] md:text-[1.875rem] md:leading-8 lg:text-[3rem] lg:leading-[3.6rem];
  }

  .header-2-text {
    @apply text-[1.25rem] font-bold leading-[1.6rem] tracking-[0.5px] text-[#3d3d3d] md:text-[1.75rem] md:leading-8 lg:text-[2.25rem] lg:leading-[2.729rem];
  }

  .v2-header-2-text {
    @apply text-[3.125rem] font-semibold leading-[5rem] tracking-[1px] text-[#3d3d3d] md:text-[4.0625rem] md:leading-[5.875rem] lg:text-[5.625rem] lg:leading-[6.6875rem];
  }

  .v2-header-3-text {
    @apply text-[2.1875rem] font-semibold leading-[3.125rem] tracking-[1px] text-[#3d3d3d] md:text-[3.125rem] md:leading-[4.375rem] lg:text-[4.0625rem] lg:leading-[5.875rem];
  }

  .v2-title-text {
    @apply text-[2.5rem] font-medium leading-[3.4375rem] tracking-[1px] text-[#3d3d3d] md:text-[3.75rem] md:leading-[4.6875rem] lg:text-[5rem] lg:leading-[5.9375rem];
  }

  .v2-title-2-text {
    @apply text-[1.5625rem] font-medium leading-[2.8125rem] tracking-[1px] text-[#3d3d3d] md:text-[1.875rem] md:leading-[3.75rem] lg:text-[2.1875rem] lg:leading-[4.25rem];
  }

  .v2-title-3-text {
    @apply text-[1rem] font-medium leading-[1.25rem] tracking-[1px] text-[#3d3d3d] md:text-[1.25rem] md:leading-6 lg:text-[1.5rem] lg:leading-[1.8125rem];
  }

  .v2-normal-text {
    @apply text-[1.1875rem] font-normal leading-[1.875rem] tracking-[1px] text-[#3d3d3d] md:text-[1.375rem] md:leading-8 lg:text-[1.6875rem] lg:leading-[2.6875rem];
  }

  .v2-normal-2-text {
    @apply text-[1.0625rem] font-normal leading-[1.1875rem] tracking-[1px] text-[#3d3d3d] md:text-[1.1875rem] md:leading-[1.875rem] lg:text-[1.375rem] lg:leading-8;
  }

  .v2-normal-3-text {
    @apply text-[1rem] font-normal leading-[1.125rem] tracking-[1px] text-[#3d3d3d] md:text-[1.0625rem] md:leading-6 lg:text-[1.125rem] lg:leading-[1.875rem];
  }

  .border-text {
    -webkit-text-stroke: 1px #3d3d3d;
    color: #fff !important;
  }

  .underline-text {
    @apply underline decoration-[#3d3d3dcc] decoration-solid decoration-2 underline-offset-[1rem] md:decoration-[3px];
  }

  .cta-button:hover > span,
  .portfolio-nav:hover > span {
    @apply text-[#fff];
  }

  .gradient-btn {
    @apply mb-0 ml-auto mr-auto mt-5 rounded-[0.6rem] border border-solid border-transparent from-orange-300 to-pink-300 p-4 text-center text-white bg-gradient-[270.11deg] lg:hover:bg-gradient-to-r lg:hover:shadow-[inset_2px_1000px_1px_white] active:scale-[0.98] lg:mb-0 lg:ml-2 lg:mr-2 lg:mt-5 lg:px-4 lg:py-4;
  }

  .gradient-btn > span {
    @apply mx-1.5 my-0 font-bold;
  }

  .gradient-btn:hover > a > span,
  .gradient-btn:hover > span {
    @apply lg:bg-clip-text lg:text-transparent lg:bg-gradient-[89.88deg];
  }

  .white-btn > span {
    @apply from-orange-300 to-pink-300 bg-clip-text text-transparent bg-gradient-[270.11deg];
  }

  .gradient-btn:hover > .fa,
  .gradient-btn:hover > .fas,
  .gradient-btn:hover > a > .fab {
    @apply lg:text-pink-300;
  }

  .gradient-border-btn {
    @apply m-[5px] rounded-[0.6rem] border border-solid border-transparent bg-gradient-to-r from-orange-300  to-pink-300  p-4 text-center shadow-[inset_2px_1000px_1px_white] lg:hover:border lg:hover:border-solid lg:hover:border-transparent lg:hover:from-pink-300 lg:hover:to-orange-300 lg:hover:shadow-none lg:hover:bg-gradient-[91.53deg] active:scale-[0.98];
  }

  .gradient-border-btn > a > .fab {
    @apply text-pink-300;
  }

  .gradient-border-btn:hover > .arrow,
  .gradient-border-btn:hover > .fa,
  .gradient-border-btn:hover > a > .fab,
  .gradient-border-btn:hover > span,
  .gradient-border-btn:hover > span > span {
    @apply lg:text-white;
  }
  .white-border-btn {
    @apply m-[5px] rounded-[0.6rem] border border-solid border-transparent bg-gradient-to-r p-4 text-center shadow-[inset_2px_1000px_1px_white]  active:scale-[0.98];
  }

  .white-border-btn > span {
    @apply from-orange-300 to-pink-300 bg-clip-text text-transparent bg-gradient-[270.11deg];
  }
  .white-gradient-border-btn {
    @apply m-[5px] border border-solid border-transparent bg-gradient-to-r from-orange-300  to-pink-300 p-4 text-center shadow-[inset_2px_1000px_1px_white] lg:hover:border-transparent lg:hover:from-pink-300 lg:hover:to-orange-300 lg:hover:shadow-none lg:hover:bg-gradient-[91.53deg] active:scale-[0.98];
  }
  .white-gradient-border-btn > span {
    @apply from-orange-300 to-pink-300 bg-clip-text text-transparent bg-gradient-[270.11deg];
  }
  .white-gradient-border-btn > .fa {
    @apply text-pink-300;
  }
  .white-gradient-border-btn:hover > span,
  .white-gradient-border-btn:hover > .fa {
    @apply lg:text-white;
  }
  .mobile-header-1 {
    @apply font-opensans-bold tracking-[-0.08rem] text-[2rem] leading-[2.6rem];
  }
  .mobile-header-2 {
    @apply font-opensans-bold tracking-[-0.08rem] text-2xl leading-9;
  }
  .mobile-header-2-regular {
    @apply font-inter-regular tracking-[-0.08rem] lg:tracking-normal text-2xl leading-9;
  }
  .mobile-header-2-bold {
    @apply font-inter-bold tracking-[-0.08rem] lg:tracking-normal text-2xl leading-9;
  }
  .mobile-header-2-semibold {
    @apply font-inter-semibold  tracking-[-0.08rem] lg:tracking-normal text-2xl leading-9;
  }
  .mobile-header-3 {
    @apply font-opensans-semibold tracking-[-0.08rem] lg:tracking-normal text-xl leading-[1.875rem];
  }
  .mobile-header-3-regular {
    @apply font-inter-regular tracking-[-0.08rem] lg:tracking-normal text-xl leading-[1.875rem];
  }
  .mobile-header-3-medium {
    @apply font-inter-medium tracking-[-0.08rem] lg:tracking-normal text-xl leading-[1.875rem];
  }
  .mobile-header-3-semibold {
    @apply font-inter-semibold tracking-[-0.08rem] lg:tracking-normal text-xl leading-[1.875rem];
  }
  .mobile-header-3-bold {
    @apply font-inter-bold tracking-[-0.08rem] lg:tracking-normal text-xl leading-[1.875rem];
  }
  .desk-header-1 {
    @apply font-opensans-bold tracking-[-0.08rem] text-6xl leading-[4.875rem];
  }
  .desk-header-2 {
    @apply font-opensans-bold tracking-[-0.08rem] text-5xl leading-[3.9rem];
  }
  .desk-header-3 {
    @apply font-opensans-semibold tracking-[-0.08rem] text-[2rem] leading-[3rem];
  }
  .sub-h1-regular {
    @apply font-inter-regular text-lg leading-[1.688rem];
  }
  .sub-h1-semibold {
    @apply font-inter-semibold text-lg leading-[1.688rem];
  }
  .sub-h2-regular {
    @apply font-inter-regular text-[1.375rem] leading-[2.063rem];
  }
  .sub-h2-medium {
    @apply font-inter-medium text-[1.375rem] leading-[2.063rem];
  }
  .sub-h3-regular {
    @apply font-inter-regular text-base;
  }
  .sub-h3-medium {
    @apply font-inter-medium text-base;
  }
  .sub-h3-semibold {
    @apply font-inter-semibold text-base;
  }
  .sub-h3-bold {
    @apply font-inter-bold text-base;
  }
  .sub-h4-regular {
    @apply font-inter-regular text-xs leading-[1.125rem];
  }
  .sub-h4-medium {
    @apply font-inter-medium text-xs leading-[1.125rem];
  }
  .sub-h4-semibold {
    @apply font-inter-semibold text-xs leading-[1.125rem];
  }
  .background-text {
    @apply font-inter-regular text-[2.5rem] leading-[1.875rem] lg:text-7xl lg:leading-[4.5rem];
  }
  .primary-btn {
    @apply h-12  mx-auto flex w-max items-center rounded-xl py-3 px-6 text-center;
  }
  .secondary-color {
    @apply text-[#F2709C];
  }
}

@tailwind utilities;
