@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    transition: background-color 5000s !important;
  }
  .floating-input:-webkit-autofill,
  .floating-input:-webkit-autofill:active,
  .floating-input:-webkit-autofill:focus,
  .floating-input:-webkit-autofill:hover {
    -webkit-text-fill-color: #fff !important;
  }
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .footer-icon > path {
    fill: url(#lgrad);
  }
  .gradient-border-btn:hover > a > .footer-icon > path {
    fill: #fff;
  }
  .landing-bg-clip-path {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
    clip-path: polygon(50% 0, 100% 0, 100% 84%, 30% 100%, 0 84%, 0 0);
  }
  .landing-bg-mobile-clip-path {
    -webkit-clip-path: polygon(
      50% 0,
      100% 0,
      150% 84%,
      30% 100%,
      -25% 84%,
      0 0
    );
    clip-path: polygon(50% 0, 100% 0, 150% 84%, 30% 100%, -25% 84%, 0 0);
  }
  .animation-paused {
    animation-play-state: paused;
  }
  .animation-running {
    animation-play-state: running;
  }
}
