---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="my-5 text-center">
    <HeaderLink class="mr-5" href="/">Home</HeaderLink>
    <HeaderLink class="mr-5" href="https://blog.canopas.com/" target="_blank"
      >Blog</HeaderLink
    >
    <HeaderLink
      class="mr-5"
      href="https://github.com/canopas/canopas-website"
      target="_blank">GitHub</HeaderLink
    >
  </nav>
</header>
