<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
</head>

<table>
    <tbody>
        <tr class="review-application-div">
            <p>Dear Team Member,</p>
            <p>
                You're invited to join {{.CompanyName }}'s unity system, an efficient platform that streamlines
                communication and enhances collaboration. Please accept the invitation and get started by clicking on
                the <a href={{ .SpaceLink }}> link </a>!
            </p>
            <p>
                <br />
                Best regards,<br />
                HR manager | {{.CompanyName }}
            </p>
        </tr>
    </tbody>
</table>

</html>