<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
  </head>
  <body>
    <div class="review-application-div">
      <p>
        <span><strong>Subject : </strong> </span>
        <span class="title-span">{{.JobTitle}} - {{.Name}}</span>
      </p>
      Hello,
      <p><span>{{.Message}}</span></p>
      <p><span>Please find my resume from attachment.</span></p>
      <br />
      Sincerely,
      <p>
        <span>{{.Name}}</span>
      </p>
      <p>
        <span>{{.Email}}</span>
      </p>
      <p>
        <span>{{.Phone}}</span>
      </p>
      <p><span>From: </span><span>{{.Place}}</span></p>
      <p><span>Reference Option : </span><span>{{.References}}</span></p>
    </div>
  </body>
</html>
