<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="HandheldFriendly" content="true" />
</head>

<body>
  <div class="review-application-div">
    <p>
      <span>Hello, My name is </span><span class="title-span"><b>{{.Name}}</b></span>
    </p>

    <p>
      <span><i>Email : </i></span><span class="title-span"> {{.Email}}</span>
    </p>

    <p>
      <span><b>Project Info:</b></span> <br />
      <span class="title-span"> {{.ProjectInfo}}</span>
    </p>

    <p><span class="title-span">Reference : {{.Reference}}</span></p>

    {{if .Invest}}
    <p><span class="title-span">I'll invest : {{.Invest}}</span></p>

    <p><span class="title-span">Want NDA? : {{if .NDA}}
        <b>Yes</b>, send me NDA
        {{else}}
        <b>No</b> need of it.
        {{end}}
      </span></p>

    {{end}}
  </div>
</body>

</html>